<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <title>Create</title>
  </head>
  <body>

    <% if (user) { %> 
    <div class="container mt-4">
        <div class="card card-border-secondary">
            <div class="card-header">EDITAR REGISTRO </div>
            <div class="card-body">
                <form action="/update" method="POST">
                    <input value="<%= user.idusers %>" hidden name="idusers" id="idusers">
                    <div class="mb-3">
                        <input placeholder="Nombre" type="text" name="name" id="name" class="form-control" tabindex="1" value="<%= user.name %>">
                    </div> 

                    <div class="mb-3">
                        <select name="roll" id="roll" class="form-select" tabindex="2"> 
                            <option <%= user.roll=='Estudiante' ? "selected" : "" %>  value="Estudiante" >Estudiante</option>
                            <option <%= user.roll=='Admin' ? "selected" : "" %>  value="Admin">Admin</option>
                        </select>
                    </div>
                    <a href="/" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                </form>
            </div>
        </div>
        
    </div>
    <% } %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>